body{
    background-color: blueviolet;
}

.perfil{
    background-color:blue;
    width: 20rem;
    padding: 10rem;
    margin: 10rem;
    text-align: center;
}

.perfil img{
    border-radius: 10rem;
    border: 8px solid #ffffff;
    width: 20rem;
}

.pefil p{
    text-align: justify;
}